@model ccsc.DataLayer.Entities.Contracts.ContractCours

@{
    ViewData["Title"] = "جزئیات";
    
}



<div>
    <h4>ContractCours</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contract)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contract.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ContractCoursId">ویرایش</a> |
    <a asp-action="Index">بازگشت به فهرست</a>
</div>
