@model IEnumerable<ccsc.DataLayer.Entities.Contracts.ContractCours>

@{
    ViewData["Title"] = Model.ToString();
    
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Contract.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ContractCoursId">ویرایش</a> |
                <a asp-action="Details" asp-route-id="@item.ContractCoursId">جزئیات</a> |
                <a asp-action="Delete" asp-route-id="@item.ContractCoursId">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
