@model IEnumerable<ccsc.DataLayer.Entities.Customers.CustomerType>

@{
    ViewData["Title"] = "فهرست";
    
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerTypeId">ویرایش</a> |
                <a asp-action="Details" asp-route-id="@item.CustomerTypeId">جزئیات</a> |
                <a asp-action="Delete" asp-route-id="@item.CustomerTypeId">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
