@model ccsc.DataLayer.Entities.Services.Service

@{
    ViewData["Title"] = "Delete";
    
}

<h1>حذف</h1>

<h3>آیا از حذف این مورد مطمئن هستید؟</h3>
<div>
    <h4>Service</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisterDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisterDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceType.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceStatus.title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Request)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Request.Text)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ServiceId" />
        <input type="submit" value="خذف" class="btn btn-danger" /> |
        <a asp-action="Index">بازگشت به فهرست</a>
    </form>
</div>
