@model IEnumerable<ccsc.DataLayer.Entities.Services.Service>

@{
    ViewData["Title"] = "فهرست";
    
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisterDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisterDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceType.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceStatus.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Request.Text)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ServiceId">ویرایش</a> |
                <a asp-action="Details" asp-route-id="@item.ServiceId">جزئیات</a> |
                <a asp-action="Delete" asp-route-id="@item.ServiceId">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
