@model IEnumerable<ccsc.DataLayer.Entities.Products.ChangeSet>

@{
	ViewData["Title"] = "تغییرات";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
	<h6>.: @ViewData["Title"] :. تعداد: @ViewData["Count"] رکورد</h6>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Version)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Video)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChangeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Audience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPublish)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Video.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangeType.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Audience.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPublish)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ChangeSetId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ChangeSetId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ChangeSetId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
