@model IEnumerable<TfsChangeSetViewModel>

@{
	ViewData["Title"] = "تغییرات";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>فهرست آخرین تغییرات</h3>
<p>@DateTime.Now.PersianDateDayOfWeek()</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.ChangeSetId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CreatedDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Author.DisplayName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Comment)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			//item.AppUserId = 1;
			var changhSet = new ccsc.DataLayer.Entities.ChangeSets.ChangeSet();
			changhSet.ChangeSetId = item.ChangeSetId;
			changhSet.AppUserId = item.AppUserId;
			changhSet.Date = item.CreatedDate;
			changhSet.Comment = item.Comment;
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.ChangeSetId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CreatedDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Author.DisplayName)
					@Html.DisplayFor(modelItem => item.AppUserId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Comment)
				</td>
				<td>
					<form asp-action="Create" asp-controller="ChangeSets">
						<input asp-for="@changhSet.ChangeSetId" class="form-control" />
						<input asp-for="@changhSet.AppUserId" class="form-control" />
						<input asp-for="@changhSet.Date" class="form-control" />
						<input asp-for="@changhSet.Comment" class="form-control" />
						<input type="submit" value="Add" class="btn btn-outline-dark" />
					</form>
				</td>
			</tr>

		}
	</tbody>
</table>
