@model IEnumerable<TfsChangeSetViewModel>

@{
	ViewData["Title"] = "آخرین تغییرات تی اف اس";
	
}

<h3>@ViewData["Title"]</h3>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.ChangeSetId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CreatedDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Author.DisplayName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Comment)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			//item.AppUserId = 1;
			var changhSet = new ccsc.DataLayer.Entities.ChangeSets.ChangeSet();
			changhSet.ChangeSetId = item.ChangeSetId;
			changhSet.AppUserId = item.AppUserId;
			changhSet.Date = item.CreatedDate;
			changhSet.Comment = item.Comment;
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.ChangeSetId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CreatedDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Author.DisplayName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Comment)
				</td>
			</tr>
		}
	</tbody>
</table>
