@model IEnumerable<TfsChangeSetViewModel>

@{
	ViewData["Title"] = "تغییرات";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>فهرست آخرین تغییرات</h3>
<p>@DateTime.Now.PersianDateDayOfWeek()</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.ChangeSetId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CreatedDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Author.DisplayName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Comment)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			item.AppUserId = 1;
			<form asp-action="Create">
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.ChangeSetId)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.CreatedDate)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Author.DisplayName)
			@Html.DisplayFor(modelItem => item.AppUserId)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Comment)
		</td>
		<td>
			<input type="submit" value="Add" class="btn btn-outline-dark" />
		</td>
	</tr>
			</form>
				}
		</tbody>
</table>
