@model IEnumerable<ccsc.DataLayer.Entities.Tutorials.Faq>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubSystem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Video)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserType.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubSystem.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Video.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FaqId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FaqId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FaqId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
