@model ccsc.DataLayer.Entities.Contacts.Salutation

@{
    ViewData["Title"] = "جزئیات";
    
}



<div>
    <h4>Salutation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SalutationId">ویرایش</a> |
    <a asp-action="Index">بازگشت به فهرست</a>
</div>
