@model IEnumerable<ccsc.DataLayer.Entities.Contacts.Salutation>

@{
    ViewData["Title"] = "فهرست";
    
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SalutationId">ویرایش</a> |
                <a asp-action="Details" asp-route-id="@item.SalutationId">جزئیات</a> |
                <a asp-action="Delete" asp-route-id="@item.SalutationId">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
