@using ccsc.DataLayer.Entities.ChangeSets
@model ccsc.DataLayer.Entities.Contracts.Contract

@{
	ViewData["Title"] = "ثبت قرارداد جدید";

	if (TempData["CId"] != null)
	{
		var cId = TempData["CId"].ToString();
	}
	var cTitle = ViewData["CustomerTitle"];
	var cType = ViewData["CustomerType"];
	var subSystems = ViewData["SubSystem"] as List<SubSystem>;

	var selectedSubSystems = ViewData["SelectedSubSystem"] as List<SubSystem>;
}




@if (TempData["CId"] != null)
{
	var cId = TempData["CId"].ToString();
	<nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a asp-controller="Customers" asp-action="Details" asp-route-id="@cId">@cType @cTitle</a></li>
			<li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
		</ol>
	</nav>
}
else
{
	<nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a asp-controller="Contracts" asp-action="Index">قراردادها</a></li>
			<li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
		</ol>
	</nav>
}
<hr />
<form asp-action="Create">
	<div class="row">
		<div class="col-md-3">

			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Title" class="control-label"></label>
				<input asp-for="Title" class="form-control" />
				<span asp-validation-for="Title" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ContractNo" class="control-label"></label>
				<input asp-for="ContractNo" class="form-control" />
				<span asp-validation-for="ContractNo" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="StartDate" class="control-label"></label>
				<input asp-for="StartDate" class="form-control" />
				<span asp-validation-for="StartDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Duration" class="control-label"></label>
				<input asp-for="Duration" class="form-control" />
				<span asp-validation-for="Duration" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Amount" class="control-label"></label>
				<input asp-for="Amount" class="form-control" />
				<span asp-validation-for="Amount" class="text-danger"></span>
			</div>
			<div class="form-check form-switch">
				<input asp-for="UnLimited" class="form-check-input" type="checkbox" id="flexSwitchCheckChecked">
				<label class="form-check-label" for="flexSwitchCheckChecked">
					@Html.DisplayNameFor(model => model.UnLimited)
				</label>
			</div>
			<div class="form-group">
				<label asp-for="ContractStatusId" class="control-label"></label>
				<select asp-for="ContractStatusId" class="form-control" asp-items="ViewBag.ContractStatusId"></select>
			</div>
			<div class="form-group">
				<label asp-for="CustomerId" class="control-label"></label>
				<select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId">
					@if (cTitle == null)
					{
						<option>انتخاب کنید</option>
					}
				</select>

			</div>

		</div>
		<div class="col-md-3">
			<div>محصولات مرتبط</div>
			<hr />
			<div class="form-group form-check">
				@foreach (var item in subSystems)
				{
					<div class="form-check">
						<label class="form-check-label">
							<input type="checkbox" name="SelectedSubSystems" class="form-check-input" @(selectedSubSystems != null && selectedSubSystems.Any(s => s.SubSystemId == item.SubSystemId) ? "checked" : "") value="@item.SubSystemId" /> @item.Title
						</label>
					</div>
				}
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label asp-for="Description" class="control-label"></label>
				<hr />
				<textarea asp-for="Description" ckeditor="1" class="form-control" rows="10"></textarea>
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
		</div>
	</div>
	<div class="form-group mt-2">
		<input type="submit" value="ثبت" class="btn btn-primary d-inline" />
		<button class="btn btn-secondary" onclick="goBack()">انصراف</button>
	</div>
</form>


@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
