@using ccsc.DataLayer.Entities.ChangeSets
@using ccsc.DataLayer.Entities.Courses
@model ccsc.DataLayer.Entities.Contracts.Contract

@{
	ViewData["Title"] = "Edit";
	var subSystems = ViewData["SubSystem"] as List<SubSystem>;

	var selectedSubSystems = ViewData["SelectedSubSystem"] as List<SubSystem>;

	var courses = ViewData["Courses"] as List<Course>;

	var selectedCourses = ViewData["SelectedCourses"] as List<Course>;

}



<h4>Contract</h4>
<hr />
<form asp-action="Edit">
	<div class="row">
		<div class="col-md-3">

			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="ContractId" />
			<div class="form-group">
				<label asp-for="Title" class="control-label"></label>
				<input asp-for="Title" class="form-control" />
				<span asp-validation-for="Title" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ContractNo" class="control-label"></label>
				<input asp-for="ContractNo" class="form-control" />
				<span asp-validation-for="ContractNo" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="StartDate" class="control-label"></label>
				<input asp-for="StartDate" class="form-control" />
				<span asp-validation-for="StartDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Duration" class="control-label"></label>
				<input asp-for="Duration" class="form-control" />
				<span asp-validation-for="Duration" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Amount" class="control-label"></label>
				<input asp-for="Amount" class="form-control" />
				<span asp-validation-for="Amount" class="text-danger"></span>
			</div>
			<div class="form-check form-switch">
				<input asp-for="UnLimited" class="form-check-input" type="checkbox" id="flexSwitchCheckChecked">
				<label class="form-check-label" for="flexSwitchCheckChecked">
					@Html.DisplayNameFor(model => model.UnLimited)
				</label>
			</div>
			<div class="form-group">
				<label asp-for="ContractStatusId" class="control-label"></label>
				<select asp-for="ContractStatusId" class="form-control" asp-items="ViewBag.ContractStatusId"></select>
				<span asp-validation-for="ContractStatusId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CustomerId" class="control-label"></label>
				<select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
				<span asp-validation-for="CustomerId" class="text-danger"></span>
			</div>

		</div>
		<div class="col-md-3">
			<div>محصولات مرتبط</div>
			<hr />
			<div class="form-group form-check">
				@foreach (var item in subSystems)
				{
					<div class="form-check">
						<label class="form-check-label">
							<input id="checkbox-@item.SubSystemId" type="checkbox" name="SelectedSubSystems" class="form-check-input" @(selectedSubSystems != null && selectedSubSystems.Any(s => s.SubSystemId == item.SubSystemId) ? "checked" : "") value="@item.SubSystemId" /> @item.Title
						</label>
					</div>
				}
			</div>
		</div>
		<div class="col-md-6">

			<div class="col-md" id="course">
				<div>رشته ها</div>
				<hr/>
				<div class="form-group form-check">
					@foreach (var item in courses)
					{
						<div class="form-check">
							<label class="form-check-label">
								<input type="checkbox" name="SelectedCourses" class="form-check-input" @(selectedCourses != null && selectedCourses.Any(s => s.CourseId == item.CourseId) ? "checked" : "") value="@item.CourseId"/> @item.Title
							</label>
						</div>
					}
				</div>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="control-label"></label>
				<hr/>
				<textarea asp-for="Description" ckeditor="1" class="form-control"></textarea>
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>

		</div>
	</div>	
	<div class="form-group">
		<input type="submit" value="ذخیره" class="btn btn-primary" />
	</div>
</form>


<div>
	<a asp-action="Index">بازگشت به فهرست</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
	ShowHideCourse();
	$("#checkbox-1").click(function() {
		ShowHideCourse();
	});

	function ShowHideCourse() {
		var logbookId = $("#checkbox-1");
		if (logbookId.is(":checked")) {
			$("#course").show(500);
		} else {
			$("#course").hide(500);
		}
	}
</script>