@using System.Globalization
@model ccsc.DataLayer.Entities.Customers.Customer

@{
	ViewData["Title"] = "جزئیات";

	var fullName = Model.CustomerType.Title + " " + Model.Title;
	var id = Model.CustomerId;
	if (Model.Version == null)
	{
		Model.Version = "بروزرسانی";
	}
	var smsCredit = Model.SmsCredit.ToString("0,0");
	//var smsCheckDate = Model.SmsCreditCheckDate.PersianDateTime();
	//var versionCheckDate = Model.VersionCheckDate.PersianDateTime();
}

<h6>@fullName</h6>
<hr />
<div class="card">
	<div class="card-header">
		<ul class="nav nav-pills" id="pills-tab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">اطاعات</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="pills-remote-tab" data-toggle="pill" href="#pills-remote" role="tab" aria-controls="pills-remote" aria-selected="false">ریموت</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="pills-product-tab" data-toggle="pill" href="#pills-product" role="tab" aria-controls="pills-product" aria-selected="false">محصولات</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="pills-contract-tab" data-toggle="pill" href="#pills-contract" role="tab" aria-controls="pills-contract" aria-selected="false">قراردادها</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="pills-service-tab" data-toggle="pill" href="#pills-service" role="tab" aria-controls="pills-service" aria-selected="false">خدمات</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="pills-request-tab" data-toggle="pill" href="#pills-request" role="tab" aria-controls="pills-request" aria-selected="false">درخواست ‌ها</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">کاربران</a>
			</li>
		</ul>
	</div>
	<div class="tab-content" id="pills-tabContent">
		<!-- #region اطلاعات کلی -->
		<div class="tab-pane fade show active p-3" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
			<div class="row">
				<div class="col-md-5">
					<dl class="row">

						<dt class="col-sm-5 text-left">
							@Html.DisplayNameFor(model => model.Url)
						</dt>
						<dd class="col-sm-7">
							<a href=@Html.DisplayFor(model => model.Url) target="_blank">@Html.DisplayFor(model => model.Url)</a>
						</dd>
						<dt class="col-sm-5 text-left">
							<a asp-controller="Customers" asp-action="Version" asp-route-id="@id">@Html.DisplayNameFor(model => model.Version)</a>
						</dt>
						<dd class="col-sm-7">
							@Html.DisplayFor(model => model.Version)
						</dd>
						<dt class="col-sm-5 text-left">
							@Html.DisplayNameFor(model => model.VersionCheckDate)
						</dt>
						<dd class="col-sm-7">
							@Html.DisplayFor(model => model.VersionCheckDate)
						</dd>
						<dt class="col-sm-5 text-left">
							@Html.DisplayNameFor(model => model.SmsUser)
						</dt>
						<dd class="col-sm-7">
							@Html.DisplayFor(model => model.SmsUser)
						</dd>
						<dt class="col-sm-5 text-left">
							@Html.DisplayNameFor(model => model.SmsPass)
						</dt>
						<dd class="col-sm-7">
							@Html.DisplayFor(model => model.SmsPass)
						</dd>
						<dt class="col-sm-5 text-left">
							<a asp-controller="Customers" asp-action="SmsCredit" asp-route-id="@id">@Html.DisplayNameFor(model => model.SmsCredit)</a>
						</dt>
						<dd class="col-sm-7">
							@Html.DisplayFor(model => model.SmsCredit)
						</dd>
						<dt class="col-sm-5 text-left">
							@Html.DisplayNameFor(model => model.MinSmsCredit)
						</dt>
						<dd class="col-sm-7">
							@Html.DisplayFor(model => model.MinSmsCredit)
						</dd>
						<dt class="col-sm-5 text-left">
							@Html.DisplayNameFor(model => model.SmsCreditCheckDate)
						</dt>
						<dd class="col-sm-7">
							@Html.DisplayFor(model => model.SmsCreditCheckDate)
							@*@smsCheckDate*@
						</dd>
						<dt class="col-sm-5 text-left">
							@Html.DisplayNameFor(model => model.IsActiveSms)
						</dt>
						<dd class="col-sm-7">
							@Html.DisplayFor(model => model.IsActiveSms)
						</dd>
						<dt class="col-sm-5 text-left">
							@Html.DisplayNameFor(model => model.AfterXDay)
						</dt>
						<dd class="col-sm-7">
							@Html.DisplayFor(model => model.AfterXDay)
						</dd>
						<dt class="col-sm-5 text-left">
							@Html.DisplayNameFor(model => model.SendSmsDate)
						</dt>
						<dd class="col-sm-7">
							@Html.DisplayFor(model => model.SendSmsDate)
						</dd>
						<dt class="col-sm-5 text-left">
							@Html.DisplayNameFor(model => model.UniversityId)
						</dt>
						<dd class="col-sm-7">
							@Html.DisplayFor(model => model.UniversityId)
						</dd>
					</dl>
				</div>
					<div class="col-md-7">
						<div>توضیحات</div>
						<hr />
						<div>
							@Html.Raw(Model.Description)
						</div>
					</div>
				</div>
				<div>
					<a asp-action="Edit" asp-route-id="@Model.CustomerId">ویرایش</a> |
				</div>
			</div>
		<!-- #endregion -->
		<!-- #region ریموت -->
		<div class="tab-pane fade p-3" id="pills-remote" role="tabpanel" aria-labelledby="pills-remote-tab">
			<div class="col-sm-10">
				@if (Model.Servers != null)
				{
					<table class="table">
						<thead>
							<tr>
								<th>Url</th>
								<th>UserName</th>
								<th>Password</th>
								<th>ServerType</th>
								<th>Vpn</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model.Servers)
							{
								<tr>
									<td>
										<a asp-controller="Servers" asp-action="Details" asp-route-id="@item.ServerId">@Html.DisplayFor(modelItem => item.Url)</a>
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.UserName)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.Password)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.ServerType.Title)
									</td>
									<td>
										@Html.CheckBoxFor((modelItem => item.Vpn))
									</td>
								</tr>
							}
						</tbody>
					</table>
				}
				else
				{
					<p>هیچ قراردادی ثبت نشده است</p>
				}
			</div>
		</div>

		<!-- #endregion -->
		<!-- #region محصولات -->
		<div class="tab-pane fade p-3" id="pills-product" role="tabpanel" aria-labelledby="pills-product-tab">
			<div class="col-sm-10">
				@if (Model.Contracts != null)
				{
					<table class="table">
						<thead>
							<tr>
								<th>عنوان</th>
								<th>تاریخ قرارداد</th>
								<th>قرارداد مربوطه</th>
								<th>شماره قرارداد</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var contract in Model.Contracts)
							{
								@if (contract.SubSystems.Count > 0)
								{

									@foreach (var ss in contract.SubSystems.OrderBy(s=>s.Title))
									{
										<tr>
											<td>
												@ss.Title
											</td>
											<td>
												@Html.DisplayFor(modelItem => contract.StartDate)
											</td>
											<td>
												@Html.DisplayFor(modelItem => contract.Title)
											</td>
											<td>
												<a asp-controller="Contracts" asp-action="Details" asp-route-id="@contract.ContractId">@Html.DisplayFor(modelItem => contract.ContractNo)</a>
											</td>
										</tr>
									}
								}

							}
						</tbody>
					</table>
				}
				else
				{

				}
			</div>
		</div>
		<!-- #endregion -->
		<!-- #region قراردادها -->
		<div class="tab-pane fade p-3" id="pills-contract" role="tabpanel" aria-labelledby="pills-contract-tab">
			<div class="col-sm-10">
				@if (Model.Contracts != null)
				{
					decimal totalAmount = 0;
					string showTotal = "";
					<table class="table">
						<caption>@*فهرست قراردادها*@</caption>
						<thead>
							<tr>
								<th>عنوان</th>
								<th>شماره قرارداد</th>
								<th>تاریخ شروع</th>
								<th>مدت</th>
								<th>مبلغ(تومان)</th>
								<th>وضعیت</th>
								<th>مانده(روز)</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var contract in Model.Contracts)
							{
								totalAmount = totalAmount + contract.Amount;
								var remainingDays = (contract.StartDate.AddMonths(contract.Duration) - DateTime.Now).Days;
								var myClass = "";
								var contractStatus = "";
								if (remainingDays > 70)
								{
									myClass = "table-success";
									contractStatus = "فعال";
								}
								if (69 >= remainingDays && remainingDays >= 50)
								{
									myClass = "table-primary";
									contractStatus = "یادآوری";
								}
								if (49 >= remainingDays && remainingDays >= 20)
								{
									myClass = "table-info";
									contractStatus = "اقدام به پیگیری";
								}
								if (19 >= remainingDays && remainingDays >= 0)
								{
									myClass = "table-warning";
									contractStatus = "درآستانه انتقصا";
								}
								if (0 > remainingDays && remainingDays >= -30)
								{
									myClass = "table-danger";
									contractStatus = "پشتیبانی موقت";
								}
								if (remainingDays < -31)
								{
									myClass = "table-dark";
									contractStatus = "عدم پشتیبانی";
								}
								<tr class="@myClass">
									<td>
										<a asp-controller="Contracts" asp-action="Details" asp-route-id="@contract.ContractId">@Html.DisplayFor(modelItem => contract.Title)</a>
									</td>
									<td>
										@Html.DisplayFor(modelItem => contract.ContractNo)
									</td>
									<td>
										@Html.DisplayFor(modelItem => contract.StartDate)
									</td>
									<td>
										@Html.DisplayFor(modelItem => contract.Duration)
									</td>
									<td>
										<input asp-for="@contract.Amount" asp-format="{0:0,0}" class="form-control" />
									</td>
									<td>
										@contractStatus
										@*@Html.DisplayFor(modelItem => contract.ContractStatus.Title)*@
									</td>
									<td class="text-left">@remainingDays</td>
								</tr>
							}
						</tbody>
						<tfoot>
							<tr class="table table-bordered table-striped">
								<td>مجموع:</td>
								<td></td>
								<td></td>
								<td></td>
								<td>@totalAmount.ToString("0,0")</td>
								<td></td>
								<td></td>
							</tr>
						</tfoot>
					</table>
				}
				else
				{
					<p>هیچ قراردادی ثبت نشده است</p>
				}
				<a asp-controller="Contracts" asp-action="Create" asp-route-id="@Model.CustomerId">ثبت قرارداد</a>
			</div>
		</div>
		<!-- #endregion -->
		<!-- #region خدمات -->
		<div class="tab-pane fade p-3" id="pills-service" role="tabpanel" aria-labelledby="pills-service-tab">
			<div class="col-sm-10">
				@if (Model.Services != null)
				{
					<table class="table">
						<thead>
							<tr>
								<th>عنوان</th>
								<th>شماره قرارداد</th>
								<th>تاریخ شروع</th>
								<th>مدت</th>
								<th>مبلغ</th>
								<th>وضعیت</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var service in Model.Services)
							{
								<tr>
									<td>
										<a asp-controller="Contracts" asp-action="Details" asp-route-id="@service.ServiceId">@Html.DisplayFor(modelItem => service.ServiceType.Title)</a>
									</td>
									<td>
										@Html.DisplayFor(modelItem => service.ServiceStatus.title)
									</td>
									<td>
										@Html.DisplayFor(modelItem => service.Request.SubSystem.Title)
									</td>
									<td>
										@Html.DisplayFor(modelItem => service.Request.RequestChanel.Title)
									</td>
									<td>
									</td>
									<td>
										@Html.DisplayFor(modelItem => service.text)
									</td>
								</tr>
							}
						</tbody>
					</table>
				}
				else
				{
					<p>هیچ خدمتی ثبت نشده است</p>
				}
				<a asp-controller="Services" asp-action="Create" asp-route-id="@Model.CustomerId">ثبت خدمت</a>

			</div>
		</div>
		<!-- #endregion -->
		<!-- #region درخواست ها -->
		<div class="tab-pane fade p-3" id="pills-request" role="tabpanel" aria-labelledby="pills-service-tab">
			<div class="col-sm-10">
				@if (Model.Services != null)
				{
					<table class="table">
						<thead>
							<tr>
								<th>عنوان</th>
								<th>تاریخ</th>
								<th>کاربر</th>
								<th>کانال</th>
								<th>نوع</th>
								<th>محصول</th>
								<th>وضعیت</th>
							</tr>
						</thead>
						<tbody>
						@foreach (var request in Model.Requests)
						{
							<tr>
								<td>
									<a asp-controller="Requests" asp-action="Details" asp-route-id="@request.RequestId">@Html.DisplayFor(modelItem => request.Title)</a>
								</td>
								<td>
									@Html.DisplayFor(modelItem => request.RequestTime)
								</td>
								<td>
									@Html.DisplayFor(modelItem => request.Contact.LastName)
								</td>
								<td>
									@Html.DisplayFor(modelItem => request.RequestChanel.Title)
								</td>
								<td>
									@Html.DisplayFor(modelItem => request.RequestType.Title)
								</td>
								<td>
									@Html.DisplayFor(modelItem => request.SubSystem.Title)
								</td>
								<td>
									@Html.DisplayFor(modelItem => request.RequestStatus.Title)
								</td>
							</tr>
						}
						</tbody>
					</table>
				}
				else
				{
					<p>هیچ خدمتی ثبت نشده است</p>
				}
				<a asp-controller="Requests" asp-action="Create" asp-route-id="@Model.CustomerId">ثبت درخواست</a>

			</div>
		</div>
		<!-- #endregion -->
		<!-- #region کاربران -->
		<div class="tab-pane fade p-3" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
			کاربران
		</div>
		<!-- #endregion -->
	</div>

</div>