@model ccsc.DataLayer.Entities.Customers.Customer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Version)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VersionCheckDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VersionCheckDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SMSUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SMSUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SMSPass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SMSPass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SMSCredit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SMSCredit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinSMSCredit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinSMSCredit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SMSCreditCheckDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SMSCreditCheckDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActiveSms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActiveSms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AfterXDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AfterXDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SendSmsDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SendSmsDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UniversityId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UniversityId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerType.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CustomerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
