@model ccsc.DataLayer.Entities.Customers.Customer

@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var fullName = Model.CustomerType.Title + " " + Model.Title;
	var id = Model.CustomerId;
	if (Model.Version == null)
	{
		Model.Version = "بروزرسانی";
	}
}

<h6>@fullName</h6>
<hr />
<div class="card">
	<div class="card-header">
		<ul class="nav nav-pills" id="pills-tab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">اطاعات</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="pills-remote-tab" data-toggle="pill" href="#pills-remote" role="tab" aria-controls="pills-remote" aria-selected="false">ریموت</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="pills-product-tab" data-toggle="pill" href="#pills-product" role="tab" aria-controls="pills-product" aria-selected="false">محصولات</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="pills-contract-tab" data-toggle="pill" href="#pills-contract" role="tab" aria-controls="pills-contract" aria-selected="false">قراردادها</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="pills-service-tab" data-toggle="pill" href="#pills-service" role="tab" aria-controls="pills-service" aria-selected="false">خدمات</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="pills-request-tab" data-toggle="pill" href="#pills-request" role="tab" aria-controls="pills-request" aria-selected="false">درخواست ‌ها</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">کاربران</a>
			</li>
		</ul>
	</div>
	<div class="tab-content" id="pills-tabContent">
		<div class="tab-pane fade show active p-3" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

			<dl class="row">

				<dt class="col-sm-2 text-left">
					@Html.DisplayNameFor(model => model.Url)
				</dt>
				<dd class="col-sm-10">
					<a href=@Html.DisplayFor(model => model.Url) target="_blank">@Html.DisplayFor(model => model.Url)</a>
				</dd>
				<dt class="col-sm-2 text-left">
					@Html.DisplayNameFor(model => model.Version)
				</dt>
				<dd class="col-sm-10">
					<a asp-controller="Customers" asp-action="Version" asp-route-id="@id" >@Html.DisplayFor(model => model.Version)</a>
				</dd>
				<dt class="col-sm-2 text-left">
					@Html.DisplayNameFor(model => model.VersionCheckDate)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.VersionCheckDate)
				</dd>
				<dt class="col-sm-2 text-left">
					@Html.DisplayNameFor(model => model.SmsUser)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.SmsUser)
				</dd>
				<dt class="col-sm-2 text-left">
					@Html.DisplayNameFor(model => model.SmsPass)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.SmsPass)
				</dd>
				<dt class="col-sm-2 text-left">
					@Html.DisplayNameFor(model => model.SmsCredit)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.SmsCredit)
				</dd>
				<dt class="col-sm-2 text-left">
					@Html.DisplayNameFor(model => model.MinSmsCredit)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.MinSmsCredit)
				</dd>
				<dt class="col-sm-2 text-left">
					@Html.DisplayNameFor(model => model.SmsCreditCheckDate)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.SmsCreditCheckDate)
				</dd>
				<dt class="col-sm-2 text-left">
					@Html.DisplayNameFor(model => model.IsActiveSms)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.IsActiveSms)
				</dd>
				<dt class="col-sm-2 text-left">
					@Html.DisplayNameFor(model => model.AfterXDay)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.AfterXDay)
				</dd>
				<dt class="col-sm-2 text-left">
					@Html.DisplayNameFor(model => model.SendSmsDate)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.SendSmsDate)
				</dd>
				<dt class="col-sm-2 text-left">
					@Html.DisplayNameFor(model => model.UniversityId)
				</dt>
				<dd class="col-sm-10">
					@Html.DisplayFor(model => model.UniversityId)
				</dd>
			</dl>
			<div>
				<a asp-action="Edit" asp-route-id="@Model.CustomerId">ویرایش</a> |
			</div>
		</div>
		<div class="tab-pane fade p-3" id="pills-remote" role="tabpanel" aria-labelledby="pills-remote-tab">
			<div class="col-sm-10">
				@if (Model.Servers != null)
				{
					<table class="table">
						<thead>
							<tr>
								<th>Url</th>
								<th>UserName</th>
								<th>Password</th>
								<th>ServerType</th>
								<th>Vpn</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model.Servers)
							{
								<tr>
									<td>
										<a asp-controller="Servers" asp-action="Details" asp-route-id="@item.ServerId">@Html.DisplayFor(modelItem => item.Url)</a>
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.UserName)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.Password)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.ServerType.Title)
									</td>
									<td>
										@Html.CheckBoxFor((modelItem => item.Vpn))
									</td>
								</tr>
							}
						</tbody>
					</table>
				}
				else
				{
					<p>هیچ قراردادی ثبت نشده است</p>
				}
			</div>
		</div>
		<div class="tab-pane fade p-3" id="pills-product" role="tabpanel" aria-labelledby="pills-product-tab">
			<div class="col-sm-10">
				@if (Model.Contracts != null)
				{
					<table class="table">
						<thead>
							<tr>
								<th>عنوان</th>
								<th>تاریخ شروع</th>
								<th>مدت</th>
								<th>مبلغ</th>
								<th>وضعیت</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var contract in Model.Contracts)
							{
								<tr>
									<td>
										<a asp-controller="Contracts" asp-action="Details" asp-route-id="@contract.ContractId">@Html.DisplayFor(modelItem => contract.Title)</a>
									</td>
									<td>
										@Html.DisplayFor(modelItem => contract.StartDate)
									</td>
									<td>
										@Html.DisplayFor(modelItem => contract.Duration)
									</td>
									<td>
										@Html.DisplayFor(modelItem => contract.Amount)
									</td>
									<td>
										@Html.DisplayFor((modelItem => contract.ContractStatus.Title))
									</td>
								</tr>
							}
						</tbody>
					</table>
				}
				else
				{

				}
			</div>
		</div>
		<div class="tab-pane fade p-3" id="pills-contract" role="tabpanel" aria-labelledby="pills-contract-tab">
			<div class="col-sm-10">
				@if (Model.Contracts != null)
				{
					<table class="table">
						<thead>
							<tr>
								<th>عنوان</th>
								<th>شماره قرارداد</th>
								<th>تاریخ شروع</th>
								<th>مدت</th>
								<th>مبلغ</th>
								<th>وضعیت</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var contract in Model.Contracts)
							{
								<tr>
									<td>
										<a asp-controller="Contracts" asp-action="Details" asp-route-id="@contract.ContractId">@Html.DisplayFor(modelItem => contract.Title)</a>
									</td>
									<td>
										@Html.DisplayFor(modelItem => contract.ContractNo)
									</td>
									<td>
										@Html.DisplayFor(modelItem => contract.StartDate)
									</td>
									<td>
										@Html.DisplayFor(modelItem => contract.Duration)
									</td>
									<td>
										<input asp-for="@contract.Amount" asp-format="{0:0,0}" class="form-control" />
									</td>
									<td>
										@Html.DisplayFor(modelItem => contract.ContractStatus.Title)
									</td>
								</tr>
							}
						</tbody>
					</table>
				}
				else
				{
					<p>هیچ قراردادی ثبت نشده است</p>
					<a asp-controller="Contracts" asp-action="Create" asp-route-id="@Model.CustomerId">ثبت قرار داد</a>
				}
			</div>
		</div>
		<div class="tab-pane fade p-3" id="pills-service" role="tabpanel" aria-labelledby="pills-service-tab">
			<div class="col-sm-10">
				@if (Model.Services != null)
				{
					<table class="table">
						<thead>
						<tr>
							<th>عنوان</th>
							<th>شماره قرارداد</th>
							<th>تاریخ شروع</th>
							<th>مدت</th>
							<th>مبلغ</th>
							<th>وضعیت</th>
						</tr>
						</thead>
						<tbody>
						@foreach (var service in Model.Services)
						{
							<tr>
								<td>
									<a asp-controller="Contracts" asp-action="Details" asp-route-id="@service.ServiceId">@Html.DisplayFor(modelItem => service.ServiceType.Title)</a>
								</td>
								<td>
									@Html.DisplayFor(modelItem => service.ServiceStatus.title)
								</td>
								<td>
									@Html.DisplayFor(modelItem => service.Request.SubSystem.Title)
								</td>
								<td>
									@Html.DisplayFor(modelItem => service.Request.RequestChanel.Title)
								</td>
								<td>
									
								</td>
								<td>
									@Html.DisplayFor(modelItem => service.text)
								</td>
							</tr>
						}
						</tbody>
					</table>
				}
				else
				{
					<p>هیچ خدمتی ثبت نشده است</p>
				}
				<a asp-controller="Services" asp-action="Create" asp-route-id="@Model.CustomerId">ثبت خدمت</a>

			</div>
		</div>
		<div class="tab-pane fade p-3" id="pills-request" role="tabpanel" aria-labelledby="pills-service-tab">
			درخواست‌ها
		</div>
		<div class="tab-pane fade p-3" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
			کاربران
		</div>
	</div>
</div>