@model IEnumerable<ccsc.DataLayer.Entities.Customers.Customer>

@{
	ViewData["Title"] = "دانشگاه ها";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-light table-striped">
	<thead>
		<tr>
			<th>
				<a asp-action="SetSupportStatus">@Html.DisplayNameFor(model => model.Title)</a>
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Url)
			</th>
			<th>
				<a asp-action="Versions">@Html.DisplayNameFor(model => model.Version)</a>
			</th>
			<th>
				@Html.DisplayNameFor(model => model.VersionCheckDate)
			</th>
			<th>
				<a asp-action="SmsCredits">@Html.DisplayNameFor(model => model.SmsCredit)</a>
			</th>
			<th>
				@Html.DisplayNameFor(model => model.SmsCreditCheckDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsActiveSms)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CustomerType)
			</th>
			<th>
				
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			var customerStatusClass = "";
			var smsCreditClass = "";
			var smsCreditCheckDate = item.SmsCreditCheckDate;
			var versionCheckDate = item.VersionCheckDate;


			if (item.HasUnSupportedContract)
			{
				customerStatusClass = "table-danger";
			}
			if (item.SmsCredit < item.MinSmsCredit && item.IsActiveSms)
			{
				smsCreditClass = "text-danger";
			}
			<tr class=@customerStatusClass>
				<td>
					<a asp-action="Details" asp-route-id="@item.CustomerId">@Html.DisplayFor(modelItem => item.Title)</a>
				</td>
				<td>
					<a href="@item.Url" target="_blank">@Html.DisplayFor(modelItem => item.Url)</a>
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Version)
				</td>
				<td>
					@versionCheckDate.PersianDateTime()
				</td>
				<td class=@smsCreditClass>
					@item.SmsCredit.ToString("0,0")
				</td>
				<td>
					@smsCreditCheckDate.PersianDateTime()
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IsActiveSms)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CustomerType.Title)
				</td>
				<td>
					<a asp-action="Delete" asp-route-id="@item.CustomerId">حذف</a>
				</td>
			</tr>
		}

	</tbody>
</table>