@using Microsoft.TeamFoundation.Common
@model IEnumerable<ccsc.DataLayer.Entities.Customers.Customer>

@{
	ViewData["Title"] = "دانشگاه ها";
	int minVersion = 9999;
	int version = 9999;
	var tempVersion = TempData["MinVersion"].ToString();
	var tempVersionDescription = TempData["MinVersionDescription"].ToString();
	if (!tempVersion.IsNullOrEmpty())
	{
		minVersion = int.Parse(tempVersion);
	}
}
<table class="table table-light table-striped">
	<thead>
		<tr>
			<th>
				کد
			</th>
			<th>
				<a asp-action="SetSupportStatus">@Html.DisplayNameFor(model => model.Title)</a>
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Url)
			</th>
			<th>
				<a asp-action="Versions">@Html.DisplayNameFor(model => model.Version)</a>
			</th>
			<th>
				@Html.DisplayNameFor(model => model.VersionCheckDate)
			</th>
			<th>
				<a asp-action="SmsCredits">@Html.DisplayNameFor(model => model.SmsCredit)</a>
			</th>
			<th>
				@Html.DisplayNameFor(model => model.SmsCreditCheckDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsActiveSms)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CustomerType)
			</th>
			<th>

			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			var customerStatusClass = "";
			var smsCreditClass = "";
			var versionClass = "";
			var versionTitle = "";
			var smsCreditCheckDate = item.SmsCreditCheckDate;
			var versionCheckDate = item.VersionCheckDate;


			var versionDate = DateTime.Now.Date;
			if (!item.Version.IsNullOrEmpty() && item.Version.Length > 4 && int.TryParse(item.Version.Substring(4, 4), out var n))
			{
				var versionStr = item.Version.Substring(4, 4);
				version = int.Parse(versionStr);
				versionDate = new DateTime(2000, 01, 01).AddDays(version);
			}

			if (item.HasUnSupportedContract)
			{
				customerStatusClass = "table-danger";
			}
			if (item.SmsCredit < item.MinSmsCredit && item.IsActiveSms)
			{
				smsCreditClass = "text-danger";
			}
			if (version < minVersion)
			{
				versionClass = "text-danger";
				versionTitle = tempVersionDescription;
			}
			<tr class=@customerStatusClass>

				<td>@Html.DisplayFor(modelItem => item.UniversityCode)</td>
				<td>
					<a asp-action="Details" asp-route-id="@item.CustomerId">@Html.DisplayFor(modelItem => item.Title)</a>
				</td>
				<td>
					<a href="@item.Url" target="_blank">@Html.DisplayFor(modelItem => item.Url)</a>
				</td>
				<td class="@versionClass" title="@versionTitle">
					@versionDate.ToShortDateString() <br/> @item.Version
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.VersionCheckDate)
				</td>
				<td class=@smsCreditClass>
					@Html.DisplayFor(modelItem => item.SmsCredit)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.SmsCreditCheckDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IsActiveSms)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CustomerType.Title)
				</td>
				<td>
					<a asp-action="Delete" asp-route-id="@item.CustomerId">حذف</a>
				</td>
			</tr>
		}

	</tbody>
</table>