@model IEnumerable<ccsc.DataLayer.Entities.Contacts.Contact>

@{
    ViewData["Title"] = "مخاطبان";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@ViewData["Title"]</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salutation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
	        <td>
				<a asp-controller="Contacts" asp-action="Details" asp-route-id=@item.ContactId>@Html.DisplayFor(modelItem => item.FirstName)</a>
	        </td>
            <td>
				<a asp-controller="Contacts" asp-action="Details" asp-route-id=@item.ContactId>@Html.DisplayFor(modelItem => item.LastName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
	        <td>
				<a asp-controller="Customers" asp-action="Details" asp-route-id=@item.Customer.CustomerId>@Html.DisplayFor(modelItem => item.Customer.Title)</a>
	        </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salutation.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ContactId">ویرایش</a> |
	            <a asp-action="Delete" asp-route-id="@item.ContactId">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
