@model ccsc.DataLayer.Entities.Requests.Request

@{
    ViewData["Title"] = "Delete";
	var fullName = Model.Contact.FirstName + " " + Model.Contact.LastName;
}



<h3>آیا از حذف این مورد مطمئن هستید؟</h3>
<div>
	<hr />
	<div class="row">
		<div class="col-md-4">
			<dl class="row">
				<dt class="col-sm-5">
					@Html.DisplayNameFor(model => model.RequestTime)
				</dt>
				<dd class="col-sm-7">
					@Html.DisplayFor(model => model.RequestTime)
				</dd>
				<dt class="col-sm-5">
					@Html.DisplayNameFor(model => model.Customer)
				</dt>
				<dd class="col-sm-7">
					@Html.DisplayFor(model => model.Customer.Title)
				</dd>
				<dt class="col-sm-5">
					@Html.DisplayNameFor(model => model.Contact)
				</dt>
				<dd class="col-sm-7">
					@fullName
				</dd>
				<dt class="col-sm-5">
					@Html.DisplayNameFor(model => model.RequestChanel)
				</dt>
				<dd class="col-sm-7">
					@Html.DisplayFor(model => model.RequestChanel.Title)
				</dd>
				<dt class="col-sm-5">
					@Html.DisplayNameFor(model => model.RequestType)
				</dt>
				<dd class="col-sm-7">
					@Html.DisplayFor(model => model.RequestType.Title)
				</dd>
				<dt class="col-sm-5">
					@Html.DisplayNameFor(model => model.SubSystem)
				</dt>
				<dd class="col-sm-7">
					@Html.DisplayFor(model => model.SubSystem.Title)
				</dd>
				<dt class="col-sm-5">
					@Html.DisplayNameFor(model => model.RequestStatus)
				</dt>
				<dd class="col-sm-7">
					@Html.DisplayFor(model => model.RequestStatus.Title)
				</dd>
			</dl>
		</div>
		<div class="col-md-8">
			<dl>
				<dt class="col-sm-5">
					@Html.DisplayNameFor(model => model.Text)
				</dt>
				<dd class="col-sm-7">
					@Html.Raw(Model.Text)
				</dd>
			</dl>
		</div>
	</div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RequestId" />
        <input type="submit" value="حذف" class="btn btn-danger" />
		<a class="btn btn-secondary" asp-action="Index">انصراف</a>
    </form>
</div>
