@model ccsc.DataLayer.Entities.Requests.Request

@{
    ViewData["Title"] = "Delete";
    
}

<h1>حذف</h1>

<h3>آیا از حذف این مورد مطمئن هستید؟</h3>
<div>
    <h4>Request</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestChanel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestChanel.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestType.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubSystem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubSystem.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestStatus.Title)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RequestId" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Index">بازگشت به فهرست</a>
    </form>
</div>
